html,
body {
  background-color: #333;
  background-image: url('/static/clue.jpg');
  background-size: 3000px;
  background-repeat: no-repeat;
  width: 3000px;
  height: 3000px;
}
video {
  width: 320px;
  height: 240px;
  position: absolute;
  padding: 200px;
  /*border:  3px solid black;*/
}
.spinner {
}
audio {
  width: 320px;
  height: 240px;
  position: absolute;
  padding: 200px;
  /*background-color:*/
  /*border:  3px solid black;*/
}
#joystickZone {
  position: fixed;
  width: 35vmin;
  height: 35vmin;
  left: 10vmin;
  bottom: 10vmin;
  z-index: 1000;
}

.joystick {
  color: #ffffff88;
  background-color: #ffffff88;
  border-radius: 100%;
  cursor: pointer;
  height: 100%;
  user-select: none;
  width: 100%;
}
.fixedDiv {
  background-color: #343434f0;
  position: fixed;
  /*text-align: right;*/
  right: 0;
  top: 0;
  z-index: 1000;
  font-size: 8vh;
  width: 100vw;
  height: 100vh;
}

#television {
  position: absolute;
}

#globalText {
  position: absolute;
  top: 300px;
  right: 200px;
  z-index: 1000;
}

#charadesButton {
  position: absolute;
  top: 1100px;
  right: 400px;
  z-index: 1000;
  height: 50px;
  background: lightsteelblue;
  color: purple;
  font-size: 40px;
}
