html,
body {
  background-color: #333;
  background-image: url('/static/clue.jpg');
  background-size: 3000px;
  background-repeat: no-repeat;
  width: 3000px;
  height: 3000px;
}
video {
  width: 320px;
  height: 240px;
  position: absolute;
  padding: 200px;
  /*border:  3px solid black;*/
}
.spinner {
}
audio {
  width: 320px;
  height: 240px;
  position: absolute;
  padding: 200px;
  /*background-color:*/
  /*border:  3px solid black;*/
}
button {
  position: fixed;
  width: 10vw;
  height: 10vh;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
.fixedDiv {
  background-color: #FFFFFF67;
  position: fixed;
  text-align: right;
  right: 0;
  bottom: 0;
  z-index: 1000;
  font-size: 8vh;
  width: 90vw;
}

#television {
  position: absolute;
}

#globalText {
  position: fixed;
  top: 300px;
  right: 0;
  z-index: 1000;
}
